.présentation{
    text-align:center; /* text-align:center; sert à centrer le texte sur la page web */
    font-size:16px;
    margin:5%; /* margin correspond à la marge */
}

header, footer {
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    color:#fff;
}

#menu {
    background-color:#000; /* background-color sert à mettre un couleur en arriére plan */
    width:1430px;
    display:flex; /* display sert à définir le type d'affichage */
    justify-content:center; /* justify-content permet de répartir l'espace */
    flex-direction:column; /* flex-direction permet de définir la place des éléments flexibles */
    height:50px;
} 

#menu1 {
    text-align:left; /* mettre le texte sur la gauche */
} 

.expérienceprofessionnelles {  
    text-align:center;             
    font-size: 16px;
}

.cv { 
    text-align:center;
    font-size: 16px;
    display:flex;                   
    justify-content:center;         
    flex-direction:column;
}

* {

    font-family: Arial, Helvetica, sans-serif; /* Caractére d'écriture */
}

nav {
    width:100%;
    margin:0 auto;
    background-color:#000;
    position:sticky; /* position permet de définir la position */
    opacity: 0px; /* opacity sert à rendre transparent un élément */
}

nav ul {
    list-style-type: none; /* list-style-type permet de définir l'apparence de la puce d'un élément de la liste */
    padding:0px; /* padding permet de définir les différents écarts de remplissage */
    margin:0px;
}

nav li {
    display:inline-block;
    width:100px;
    height:100px;
    margin:0px;
    padding:0px;
    text-align:center;
    line-height:40px; /* line-height permet de définir la hauteur de la boite d'une ligne */
}

nav li a {
    color:#fff;
}

nav ul li {
    float:left; 
    width:25%;
    text-align:center;
}

nav a {
    display:block;
    text-decoration:none;
    color:#000;
    border-bottom:2px solid transparent;
    padding:10px 0px;
}

nav a:hover {
    border-bottom:2px solid #999;
}

#sous {     
    display:none;
    background-color:#999;  
}

nav > ul li:hover #sous {
    display:block;   
}

#sous li {
    float:none;
    width:100%;
    text-align:left;
}

#sous a {
    padding:10px;
    border-bottom:none;
}

#sous a:hover {
    border-bottom:none;
    background-color:RGBa(200,200,200,0.1);
}

.char {
    padding: 10px;
    color:#fff;
}

form {
    margin: 0 auto;
    height: 100%;
    padding: 1em;
    text-align: center;
}
  
form div + div {
    margin-top: 1em; /* margin-top correspond à la marge se trouvant à gauche */
}
  
label {
    display: inline-block;
    width: 90px;
    text-align: right;
    color:#fff;
}
  
input, textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999; /* border sert à créer une bordure */
}
  
textarea {
    vertical-align: top;
    height: 10em;
}
  
.button {
    padding-left: 90px; /* padding permet de définir les différents écarts de remplissage se trouvant à gauche */
    margin-left: .5em; /* margin-left correspond à la marge se trouvant à gauche */
}

html {
    background-image:url(https://images6.alphacoders.com/845/845878.jpg);
    background-size:cover;
    background-repeat:no-repeat;
} 

